# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Turbo
.turbo/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Test
coverage/
.nyc_output/

# Misc
*.pem
.cache/
